@media only screen and (max-width: 990px) {
  .nav-list {
    padding: 0px;
  }
  video {
    width: 500px;
  }
  .my-form {
    width: 550px;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 490px) {
  video {
    width: 300px;
  }
  div.video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infos {
    margin-top: 30px;
    display: block;
  }
  .my-form {
    width: 350px;
    border-radius: 15px;
  }
  .card {
    margin: 19px 30px;
  }
}
