@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,300&family=Pirata+One&family=Titan+One&display=swap");

body {
  background-color: #1a659e;
  overflow-x: hidden;
}

.nav-list :first-child {
  flex-grow: 6;
}
.nav-list a {
  flex-grow: 3;
}

.main {
  height: max-content;
  width: max-content;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #ffffffc5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  padding: 1px 50px;
}

.skills {
  padding: 50px;
}
a.nav-link {
  color: #000;
}

.nav-list {
  padding-right: 50px;
}

.main {
  /* color: #1a659e; */
  color: #000;
  font-weight: bold;
}
.name strong {
  color: #c4273c;
  font-family: "Fira Sans", sans-serif;
  font-family: "Pirata One", cursive;
  font-family: "Titan One", cursive;
}

.my-nav {
  padding: 15px;
}
div.video {
  background-image: url("../images/blurry.jpg");
  height: 700px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.infos {
  padding: 3px;
  border-bottom: 3px solid #1a659e;
  display: inline-block;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.795);
}

.prices {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 30px;
}
.cards {
  width: max-content;
}
.card {
  padding: 15px;
  border-radius: 19px;
  margin: 0px 10px;
}

.my-form {
  margin: 50px auto;

  display: flex;
  background-color: #fff;
  width: 700px;
  align-items: center;
  justify-content: space-around;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 30px;
}

.my-img {
  height: 100px;
}

input {
  outline: none;
  border: none;
  border-bottom: solid 1px #000;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-instagram {
  background: #c83f9a;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 70px 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.footer {
  height: 330px;
}
.footer-head {
  padding-top: 50px;
}
